---
- name: Probe cert-manager Custom Resource Definition
  command: kubectl get CustomResourceDefinition certificates.certmanager.k8s.io
  run_once: true
  ignore_errors: true
  changed_when: false
  register: crd

- name: Copy cert-manager Custom Resource Definition
  no_log: true
  become: true
  copy:
    src: "cert-manager-crds-{{ cert_manager_version }}.yaml"
    dest: "/etc/kubernetes/"
    mode: '0644'
    owner: root
    group: root
  run_once: true
  when: crd is failed

# file downloaded from https://raw.githubusercontent.com/jetstack/cert-manager/release-0.9/deploy/manifests/00-crds.yaml
- name: Install cert-manager Custom Resource Definition
  command: "kubectl apply -f /etc/kubernetes/cert-manager-crds-{{ cert_manager_version }}.yaml"
  run_once: true
  when: crd is failed

- name: Probe cert-manager Namespace
  command: kubectl get ns cert-manager
  changed_when: false
  ignore_errors: yes
  run_once: yes
  register: certmanager_ns

- name: Create cert-manager Namespace
  command: kubectl create namespace cert-manager
  run_once: true
  when: certmanager_ns is failed

- name: Probe cert-manager Namespace Label
  command: kubectl get namespace --selector certmanager.k8s.io/disable-validation=true
  changed_when: false
  run_once: true
  register: certmanager_ns_label

- name: Disable Resource Validation on cert-manager Namespace
  command: kubectl label namespace cert-manager certmanager.k8s.io/disable-validation=true
  run_once: true
  when: "'No resources found' in certmanager_ns_label.stderr"

- name: Add Jetstack Repo for cert-manager
  command: helm repo add jetstack https://charts.jetstack.io
  run_once: true
  register: jetstack_repo

- name: Update Helm Repo
  command: helm repo update
  when: jetstack_repo is changed

- name: Install cert-manager
  command: >
    helm upgrade cert-manager jetstack/cert-manager
      --namespace cert-manager
      --version {{ cert_manager_version }}
      --wait
      --install
