---
- name: Add Rancher Repo
  command: helm repo add rancher-stable https://releases.rancher.com/server-charts/stable
  when: "'rancher-stable' not in repos.stdout"

- name: Install Rancher
  command: helm install rancher-stable/rancher --name rancher --namespace cattle-system --version 2.2.8 --set tls=external --set privateCA=true --set addLocal=false --set auditLog.level=1 --description='RanchHand Deploy' --wait
  when: "'rancher' not in charts.stdout"