---
- import_tasks: debian.yml
  when: ansible_os_family == "Debian"

- import_tasks: redhat.yml
  when: ansible_os_family == "RedHat"

- name: Add user to docker group
  become: yes
  user:
    name: "{{ ansible_user_id }}"
    group: docker

- name: Configure Docker daemon options
  become: yes
  template:
    src: "daemon.json.j2"
    dest: "/etc/docker/daemon.json"
    owner: root
    group: root
    mode: "0644"
  when: docker_daemon_json | default()
  notify:
    - Restart Docker

- meta: flush_handlers
